* {
  margin: 0;
  padding: 0;
  font-family: lindsay, serif;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.disable-overflow {
   overflow: hidden;
 }

#userStatisticsGrid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 1px solid;
  padding: 2%;
}
